@import "../../styles.scss";

:host {
  display: grid;
  grid-template-columns: auto 80% auto;
  grid-template-areas: ". forcast .";
}

.forcast {
  grid-area: forcast;
}

h2 {
  margin: 5rem 0;
  text-align: center;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  color: $contrast-color;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-gap: 1.5rem;
  font-size: 2rem;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20rem;
}
